{:paths ["src" "resources"]
 :deps 
 {hickory/hickory  {:mvn/version "0.7.1"}
  cheshire/cheshire {:mvn/version "5.10.0"}
  clj-http/clj-http {:mvn/version "3.10.2"}}
 :aliases
 {:cider-clj {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}
                           cider/cider-nrepl {:mvn/version "0.25.3"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
