({:title
  "Designation of the Workers’ Delegate for the Netherlands at the Third Session of the International Labour Conference",
  :id "B01",
  :docs
  [{:title "Request for an Advisory Opinion",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_01/Designation_du_delegue_ouvrier_neerlandais_a_la_Conference_internationale_du_travail_Avis_consultatif_1.pdf"}
   {:title "Advisory Opinion of 31 July 1922",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_01/Designation_du_delegue_ouvrier_neerlandais_a_la_Conference_internationale_du_travail_Avis_consultatif.pdf"}]}
 {:title
  "Competence of the ILO in regard to International Regulation of the Conditions of the Labour of Persons Employed in Agriculture",
  :id "B02",
  :docs
  [{:title
    "Advisory Opinion of 12 August 1922 (including the text of the declaration of Judge Weiss)",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_02/Competence_OIT_Agriculture_Avis_consultatif.pdf"}
   {:title "Request for Advisory Opinion",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_02/Competence_OIT_Agriculture_requete.pdf"}]}
 {:title
  "Competence of the ILO to Examine Proposal for the Organization and Development of the Methods of Agricultural Production",
  :id "B03",
  :docs
  [{:title "Advisory Opinion of 12 August 1922",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_03/Competence_OIT_Agriculture_Avis_consultatif_1.pdf"}
   {:title "Request for Advisory Opinion",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_03/Competence_OIT_Agriculture_Avis_requete.pdf"}]}
 {:title "Nationality Decrees Issued in Tunis and Morocco",
  :id "B04",
  :docs
  [{:title "Request for an Advisory Opinion",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_04/Decrets_de_nationalite_promulgues_en_Tunisie_et_au_Maroc_Avis_consultatif.pdf"}
   {:title "Advisory Opinion of 7 February 1923",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_04/Decrets_de_nationalite_promulgues_en_Tunisie_et_au_Maroc_Avis_consultatif_1.pdf"}]}
 {:title "Status of Eastern Carelia",
  :id "B05",
  :docs
  [{:title "Request for Advisory Opinion",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_05/Statut_de_la_Carelie_orientale_Avis_consultatif_1.pdf"}
   {:title
    "Advisory Opinion of 23 Jully 1923 (including the text of the joint declaration by Judge Weiss, Judge Nyholm, Judge de Bustamante and Judge Altamira)",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_05/Statut_de_la_Carelie_orientale_Avis_consultatif.pdf"}]}
 {:title "German Settlers in Poland",
  :id "B06",
  :docs
  [{:title "Advisory Opinion of 10 September 1923",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_06/Colons_allemands_en_Pologne_Avis_consultatif.pdf"}]}
 {:title "Acquisition of Polish Nationality",
  :id "B07",
  :docs
  [{:title "Advisory Opinion of 15 September 1923",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_07/01_Acquisition_de_la_nationalite_polonaise_Avis_consultatif.pdf"}
   {:title "Observations by Lord Finlay",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_07/02_Acquisition_de_la_nationalite_polonaise_Observations_Finlay.pdf"}]}
 {:title "Jaworzina",
  :id "B08",
  :docs
  [{:title "Advisory Opinion of 6 Décember 1923",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_08/Jaworzina_Avis_consultatif.pdf"}]}
 {:title "Monastery of Saint-Naoum",
  :id "B09",
  :docs
  [{:title "Advisory Opinion of 4 September 1924",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_09/Monastere_de_Saint-Naoum_Avis_consultatif.pdf"}]}
 {:title "Exchange of Greek and Turkish Populations",
  :id "B10",
  :docs
  [{:title "Advisory Opinion of 21 February 1925",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_10/01_Echange_des_populations_grecques_et_turques_Avis_consultatif.pdf"}
   {:title "Annex",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_10/02_Echange_des_populations_grecques_et_turques_Annexe.pdf"}]}
 {:title "Polish Postal Service in Danzig",
  :id "B11",
  :docs
  [{:title "Advisory Opinion of 16 May 1925",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_11/01_Service_postal_polonais_a_Danzig_Avis_consultatif.pdf"}
   {:title "Annex",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_11/02_Service_postal_polonais_a_Danzig_Annexe.pdf"}]}
 {:title
  "Interpretation of Article 3‚ Paragraph 2‚ of the Treaty of Lausanne",
  :id "B12",
  :docs
  [{:title "Advisory Opinion of 21 November 1925",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_12/01_Article_3_du_traite_de_Lausanne_Avis_consultatif.pdf"}
   {:title "Annex",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_12/02_Article_3_du_traite_de_Lausanne_Annexe.pdf"}]}
 {:title
  "Competence of the ILO to Regulate Incidentally the Personal Work of the Employer",
  :id "B13",
  :docs
  [{:title "Advisory Opinion of 23 July 1926",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_13/01_Competence_OIT_travail_personnel_du_patron_Avis_consultatif.pdf"}
   {:title "Annex",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_13/02_Competence_OIT_travail_personnel_du_patron_Annexe.pdf"}]}
 {:title "Jurisdiction of the European Commission of the Danube",
  :id "B14",
  :docs
  [{:title "Advisory Opinion of 8 December 1927",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_14/01_Commission_europeenne_du_Danube_Avis_consultatif.pdf"}
   {:title "Observations by M. Nyholm",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_14/02_Commission_europeenne_du_Danube_Opinion_Nyholm.pdf"}
   {:title "Observations by M. Moore",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_14/03_Commission_europeenne_du_Danube_Observations_Moore.pdf"}
   {:title "Dissenting Opinion by M. Negulesco",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_14/04_Commission_europeenne_du_Danube_Opinion_Negulesco.pdf"}
   {:title "Annex",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_14/05_Commission_europeenne_du_Danube_Annexe.pdf"}]}
 {:title "Jurisdiction of the Courts of Danzig",
  :id "B15",
  :docs
  [{:title "Advisory Opinion of 3 March 1928",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_15/01_Competence_des_tribunaux_de_Danzig_Avis_consultatif.pdf"}
   {:title "Annex 1",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_15/02_Competence_des_tribunaux_de_Danzig_Annexe_1.pdf"}
   {:title "Annex 2",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_15/03_Competence_des_tribunaux_de_Danzig_Annexe_2.pdf"}
   {:title "Annex 3",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_15/04_Competence_des_tribunaux_de_Danzig_Annexe_3.pdf"}]}
 {:title
  "Interpretation of the Greco-Turkish Agreement of 1 December 1926 (Final Protocol‚ Article IV)",
  :id "B16",
  :docs
  [{:title "Advisory Opinion of 28 August 1928",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_16/01_Interpretation_de_l_Accord_greco-turc_Avis_consultatif.pdf"}
   {:title "Annex",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_16/02_Interpretation_de_l_Accord_greco-turc_Annexe.pdf"}]}
 {:title "Greco-Bulgarian \"Communities\"",
  :id "B17",
  :docs
  [{:title "Advisory Opinion of 31 July 1930",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_17/01_Communautes_greco-bulgares_Avis_consultatif.pdf"}
   {:title "Annex 1",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_17/02_Communautes_greco-bulgares_Annexe_1.pdf"}
   {:title "Annex 2",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_17/03_Communautes_greco-bulgares_Annexe_2.pdf"}]}
 {:title "Free City of Danzig and ILO",
  :id "B18",
  :docs
  [{:title "Advisory Opinion of 26 August 1930",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_18/01_Ville_libre_de_Danzig_et_OIT_Avis_consultatif.pdf"}
   {:title "Individual Opinion by M. Anzilotti",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_18/02_Ville_libre_de_Danzig_et_OIT_Opinion_Anzilotti.pdf"}
   {:title "Individual Opinion by M. Huber",
    :link
    "https://www.icj-cij.org/files/permanent-court-of-international-justice/serie_B/B_18/03_Ville_libre_de_Danzig_et_OIT_Opinion_Huber.pdf"}]})
